#createPlayer {
  width: 100vh;
  height: auto;
  margin-top: 10vh;
}

.player-container {
  display: flex;
  align-items: center;
  margin-left: 1vh;
  margin-bottom: 10px;
}

#jsonbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
}

#jsonbtn img {
  width: 375px;
  height: 100px;
}

#userNameX {
  width: 10vh;
}

h2 {
  font-family: 'CaviarDreams', sans-serif;
  color: rgb(27, 27, 27);
  margin-right: 10px;
}

input {
  flex: 1;
}


p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-size: 25px;
}

h3 {
  font-family: 'CaviarDreams', sans-serif;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

h3 a:link,
h3 a:visited {
  color: rgb(27, 27, 27);
  background-color: transparent;
  text-decoration: none;
  margin-bottom: 2vh;
}

h3 a:hover {
  color: rgb(214, 64, 69);
  background-color: transparent;
}

h3 a:active {
  color: rgb(27, 27, 27);
  background-color: transparent;
  text-decoration: underline;
}

body {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}