@font-face {
  font-family: 'CaviarDreams';
  src: local('CaviarDreams'), url('CaviarDreams_Bold.ttf'), format('ttf');
}

body {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

th {
  font-family: 'CaviarDreams', sans-serif;
  color: rgb(27, 27, 27);
  font-size: 7vh;
}

#playersResults {
  font-family: 'CaviarDreams', sans-serif;
  color: rgb(27, 27, 27);
}