@font-face {
  font-family: 'CaviarDreams';
  src: local('CaviarDreams'), url('CaviarDreams_Bold.ttf'), format('ttf');
}

body {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

h3 {
  font-family: 'CaviarDreams', sans-serif;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

h3 a:link,
h3 a:visited {
  color: rgb(27, 27, 27);
  background-color: transparent;
  text-decoration: none;
  font-size: 25px;
  margin-bottom: 2vh;
}

h3 a:hover {
  color: rgb(214, 64, 69);
  background-color: transparent;
}

h3 a:active {
  color: rgb(27, 27, 27);
  background-color: transparent;
  text-decoration: underline;
}