body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdz1f5aluZiMSMf7RUTUj51BvcB3NbALBHaw&usqp=CAU);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

nav {
    color: rgb(63, 19, 41);
    font-size: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60vh;
    
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
    background-color: transparent;
    
  }
  
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }

  p {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: absolute;
    bottom: 0;
    left: 0; 
    right: 0;
  }



