@font-face {
  font-family: 'CaviarDreams';
  src: local('CaviarDreams'), url('CaviarDreams_Bold.ttf'), format('ttf');
}

body {
  font-family: 'CaviarDreams', sans-serif;
  background-color: rgb(240, 240, 240);
  color: rgb(27, 27, 27);
  text-align: center;

}

select {
  size: 10vh;
  font-size: xx-large;
}

.bigRed {
  font-size: xx-large;
  font-family: 'CaviarDreams', sans-serif;
}

h2 {
  font-family: 'CaviarDreams', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: red;
  margin: 0;
  padding: 15px;
}


h2 a:link {
  color: rgb(27, 27, 27);
  background-color: transparent;
  text-decoration: none;
}

h2 a:visited {
  color: rgb(27, 27, 27);
  background-color: transparent;
  text-decoration: none;
}

h2 a:hover {
  color: rgb(240, 240, 240);
  background-color: transparent;

}

h2 a:active {
  color: rgb(27, 27, 27);
  background-color: transparent;
  text-decoration: underline;
}

h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(214, 64, 69);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.upperSection {
  margin-top: px;
}

#resultContainer {
  font-size: x-large;
  margin-bottom: 70px;
  margin-top: 20px;
}